@using Microsoft.AspNetCore.Identity
@using URMS.Areas.Identity.Data

@inject SignInManager<URMSUser> SignInManager
@inject UserManager<URMSUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello @UserManager.GetUserName(User)!</p>
</div>
